---
import { Image } from "astro:assets";
import "@fontsource/jersey-25";
import "@fontsource/jetbrains-mono";
import "@fontsource/jockey-one";

import orpheusflag from "../assets/orpheusflag.png";
import orpheusrocket from "../assets/orpheusrocket.png";
import orpheusmoon from "../assets/orpheusmoon.png";
import workmark from "../assets/wordmark.png";

import Step from "../components/Step.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/logo.png`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apex</title>
  </head>
  <body>
    <div
      class="to-sky relative flex min-h-screen w-full flex-col items-center justify-start bg-gradient-to-b from-[#000000] via-[#122247] text-white"
    >
      <div
        class="relative flex flex-col items-center justify-center gap-3 pt-24"
      >
        <Image src={workmark} alt="Apex wordmark" />
        <p class="font-special mx-10 text-center text-3xl">
          A 3 month journey to launch projects <strong class="font-extrabold"
            >100,000 ft into the air</strong
          > on high-altitude balloons in Boston
        </p>
        <Image
          class="absolute -left-10 top-5"
          src={orpheusrocket}
          alt="Orpheus on a rocket"
        />
        <Image
          class="absolute -right-10 top-5"
          src={orpheusmoon}
          alt="Orpheus on the moon"
        />
      </div>

      <div
        class="relative flex w-full flex-col items-center justify-start gap-10 py-24"
      >
        <Step
          num={1}
          date={new Date("2025-02-28")}
          title="Register"
          desc="Signing up for Apex is free - you just need a team of fellow teens ready to dive into making a project!"
          action={{
            text: "Signup",
            link: "https://airtable.com/app7H902kTEPSGVDw/pag2xZxhI3yfQwrXv/form",
          }}
          direction="left"
        />
        <Step
          num={2}
          date={new Date("2025-03-23")}
          title="Submit proposal"
          desc="Finalize your ideas and designs with your team and submit them to the review team!"
          action={{
            text: "Resources",
            link: `${import.meta.env.BASE_URL}/resources/proposal`,
          }}
          direction="right"
        />
        <Step
          num={3}
          date={new Date("2025-04-30")}
          title="Build your project"
          desc="After prototyping and iteration, put together the project that will launch on the HAB and ship it to the launch location!"
          action={{
            text: "Details",
            link: `${import.meta.env.BASE_URL}/resources/building`,
          }}
          direction="left"
        />
        <Step
          num={4}
          date={new Date("2025-05-10")}
          title="LAUNCH!"
          desc="Head over to Boston, MA to see your project launch, and then recover it and analyze the results!"
          action={{
            text: "Info",
            link: `${import.meta.env.BASE_URL}/resources/launch`,
          }}
          direction="right"
        />
      </div>

      <div class="bg-cardblue flex w-full justify-center p-20">
        <div class="flex w-full items-start justify-start gap-10">
          <div class="flex w-1/2 flex-col items-start justify-start gap-2">
            <p class="w-full text-center text-2xl font-bold">
              What's a high altitude balloon?
            </p>
            <p class="w-full text-center text-lg">
              High altitude balloons (HABs) are an accessible way to send
              research and recreational payloads into altitudes upwards of
              100,000 feet. While they demand meticulous planning and logistics,
              they reward those who launch them with the chance to send their
              payloads to tremendous altitudes. We are here to bring you that
              experience, but without the fierce logistics and infrastructure
              that often come with a launch! <br /><br />If you're interested in
              learning more, watch <a
                class="underline"
                href="https://www.youtube.com/watch?v=gx_RJoNerg0"
                >this video from the New England Weather Balloon Society</a
              >.
            </p>
          </div>

          <div class="flex w-1/2 flex-col items-start justify-start gap-2">
            <p class="w-full text-center text-2xl font-bold">
              Do I need experience to sign up?
            </p>
            <p class="w-full text-center text-lg">
              Nope! Apex is open to all teenagers interested in launching
              projects on high altitude balloons. We will provide lots of
              resources to help you along the way of creating your project!
            </p>
          </div>
        </div>
      </div>

      <div class="bg-sky flex w-full justify-evenly">
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5"
        />
        <a
          href="https://airtable.com/app7H902kTEPSGVDw/pag2xZxhI3yfQwrXv/form"
          style="direction: rtl;"
          class="h-fit self-center rounded-full bg-white p-10 indent-[-0.5em] text-5xl font-black tracking-[0.5em] text-black"
          >SIGNUP</a
        >
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5 -scale-x-[1]"
        />
      </div>

      <Footer />
    </div>
  </body>
</html>
