---
import { Image } from "astro:assets";
import "@fontsource/jersey-25";
import "@fontsource/jetbrains-mono";
import "@fontsource/jockey-one";

import orpheusflag from "../assets/orpheusflag.png";
import orpheusrocket from "../assets/orpheusrocket.png";
import orpheusmoon from "../assets/orpheusmoon.png";
import wordmark from "../assets/wordmark.png";

import Step from "../components/Step.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta name="apple-mobile-web-app-title" content="Apex" />
    <meta property="og:site_name" content="Apex" />
    <meta property="og:title" content="Apex" />
    <meta
      name="description"
      property="og:description"
      content="A 3 month journey to launch projects 100,000 ft into the air on high-altitude balloons in Boston"
    />
    <meta property="og:image" content={wordmark.src} />

    <title>Apex</title>
  </head>
  <body>
    <div
      class="relative flex min-h-screen w-full flex-col items-center justify-start bg-gradient-to-b from-[#000000] via-[#122247] to-sky text-white"
    >
      <div
        class="relative flex flex-col items-center justify-center gap-3 pt-24"
      >
        <Image src={wordmark} alt="Apex wordmark" class="w-1/2 md:w-1/3" />
        <p class="mx-10 text-center font-special text-2xl md:text-3xl">
          A 3 month journey to launch projects <strong class="font-extrabold"
            >100,000 ft into the air</strong
          > on high-altitude balloons in Boston
        </p>
        <Image
          class="absolute left-0 top-5 w-1/4 md:-left-10"
          src={orpheusrocket}
          alt="Orpheus on a rocket"
        />
        <Image
          class="absolute right-0 top-5 w-1/4 md:-right-10 md:w-1/6"
          src={orpheusmoon}
          alt="Orpheus on the moon"
        />
      </div>

      <div
        class="relative flex w-full flex-col items-center justify-start gap-20 py-24"
      >
        <Step
          num={1}
          date={new Date("2025-03-01T05:00")}
          title="Register"
          desc="Signing up for Apex is free - you just need a team of fellow teens ready to dive into making a project!"
          action={{
            text: "Signup",
            link: "/signup",
          }}
          direction="left"
        />
        <Step
          num={2}
          date={new Date("2025-04-01T05:00")}
          title="Submit proposal"
          desc="Finalize your ideas and designs with your team and submit them to the review team!"
          action={{
            text: "Resources",
            link: "/resources/proposal",
          }}
          direction="right"
        />
        <Step
          num={3}
          date={new Date("2025-05-01T05:00")}
          title="Build your project"
          desc="After prototyping and iteration, put together the project that will launch on the HAB and ship it to the launch location!"
          action={{
            text: "Details",
            link: "/resources/building",
          }}
          direction="left"
        />
        <Step
          num={4}
          date={new Date("2025-06-21T05:00")}
          title="LAUNCH!"
          desc="Head over to Boston to launch, recover, and analyze your project during a 3-day event on June 20-22!"
          action={{
            text: "Info",
            link: "/resources/launch",
          }}
          direction="right"
        />
      </div>

      <div
        class="flex w-full flex-col items-center justify-center gap-5 bg-cardblue p-3 md:flex-row md:items-start md:gap-0 md:p-20"
      >
        <div
          class="flex w-full flex-col items-start justify-start gap-2 p-3 md:w-1/2"
        >
          <p class="w-full text-center text-2xl font-bold">
            What's a high altitude balloon?
          </p>
          <p class="text-md w-full text-center md:text-lg">
            High altitude balloons (HABs) are an accessible way to send research
            and recreational payloads into altitudes upwards of 100,000 feet.
            While they demand meticulous planning and logistics, they reward
            those who launch them with the chance to send their payloads to
            tremendous altitudes. We are here to bring you that experience, but
            without the fierce logistics and infrastructure that often come with
            a launch! <br /><br />If you're interested in learning more, watch <a
              class="underline"
              href="https://www.youtube.com/watch?v=gx_RJoNerg0"
              >this video from the New England Weather Balloon Society</a
            >.
          </p>
        </div>

        <div
          class="flex w-full flex-col items-start justify-start gap-2 p-3 md:w-1/2"
        >
          <p class="w-full text-center text-2xl font-bold">
            Do I need experience to sign up?
          </p>
          <p class="text-md w-full text-center md:text-lg">
            Nope! Apex is open to all teenagers interested in launching projects
            on high altitude balloons. We will provide lots of resources to help
            you along the way of creating your project!
          </p>
        </div>
      </div>

      <div class="flex w-full justify-evenly bg-sky">
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5 w-1/4"
        />
        <a
          href="/signup"
          style="direction: rtl;"
          class="h-fit self-center rounded-full bg-white p-3 indent-[-0.5em] text-xl font-black tracking-[0.5em] text-black md:p-10 md:text-5xl"
          >SIGNUP</a
        >
        <Image
          src={orpheusflag}
          alt="Orpheus holding a flag"
          class="relative top-5 w-1/4 -scale-x-[1]"
        />
      </div>

      <Footer />

      <img
        src="/balloon.png"
        class="absolute left-[5%] top-[20%] hidden md:block"
      />
      <img
        src="/balloon.png"
        class="absolute right-[5%] top-1/3 hidden md:block"
      />
      <img
        src="/balloon.png"
        class="absolute left-[5%] top-[40%] hidden md:block"
      />
    </div>
  </body>
</html>
