---
interface Props {
  num: number;
  date: Date;
  title: string;
  desc: string;
  action?: {
    text: string;
    link: string;
  };
}

const { num, date, title, desc, action } = Astro.props;
---

<apex-step
  id={`step-${num}`}
  data-date={date.toISOString()}
  class="flex flex-col items-center justify-start gap-5 md:flex-row md:items-start"
>
  <p
    class="flex aspect-square h-10 items-center justify-center rounded-full border-2 border-white bg-apexblue text-xl font-bold"
  >
    {num}
  </p>
  <div class="flex flex-col items-start justify-start">
    <p class="text-lg">
      {date.toDateString()}
      <span class="text-md pl-5 text-gray-300" id={`countdown-step-${num}`}
      ></span>
    </p>
    <p class="text-2xl font-bold">{title}</p>
    <p class="text-lg">{desc}</p>
    {
      action && (
        <a
          class="my-2 border-2 border-white bg-apexblue px-5 py-2 text-2xl font-semibold"
          href={action.link}
        >
          {action.text}
        </a>
      )
    }
  </div>
</apex-step>
